/*@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');*/

body{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wkxduz8A.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
header{
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/abrilfatface/v19/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    text-align: center;
}
h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v24/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmYmRjRdE.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  .date{
    text-align: left;
    color: darkgray;
    font-weight: bolder;
  }
a{
    color: gray;
    font-style: normal;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
}
hr{
    color: gray;
}
li{
    display: inline;
    text-align: center;
    margin: 0 3em 0 3em;
}
nav{
    text-align: center;
    background-color: white;
    position: sticky;
    top: 0em;
}
/*Fist Section______________________*/
h5{
    color: red;
    font-weight: bolder;
    font-size: large;
}
.img1{
    width: 100%;
    height: 25em;
}
.p1{
    color: gray;
}
/*First Section______________________*/
/*Second Section_____________________*/
.section1{
    display: inline-block;
    width: 45%;
    text-align: left;
    margin: 0 4em 0 4em;
    
}
.section2{
    display: inline-block;
    width: 45%;
    text-align: left;
}
.img2{
    width: 100%;
    height: 25em;
    text-align: center;
}
.img3{
    width: 100%;
    height: 25em;
    text-align: center;
}
h4{
    font-size: larger;
}
.p2{
    color: gray;
}
.p3{
    color: gray;
}
/*Second Section_____________________*/
/*Footer_____________________________*/
.news{
    
}
#homepage{
    
}
#world{
    
}
/*Footer_____________________________*/